ion-content {
  --background: url("/assets/bg.jpg") no-repeat;

  .loginTitle {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    letter-spacing: 10px;
  }

  .loginCard {
    .input-form-standard {
      text-align: center;
      border: solid 1px;
      margin: 2px;
      border-radius: 3px;
    }
  }

  .loginSub {
    text-align: center;
    .subText {
      font-size: 18px;
      text-align: center;
      color: #1b2430;
    }
  }
}
